h1 {
    #text-align: center;
    margin-bottom: .2em;
}

#content {
    background: #fff;
    padding-top: 3em;
    max-width: 600px;
    position: relative;
    margin: 5px auto;
    padding-left: 10px;
    padding-right: 10px;
}
#header {
    float: right;
    margin-left: 1em;
    margin-bottom: 1em
}

.header{
    font-size: 24px;
    line-height: 40px;
    font-weight: 200;
    /* box-shadow: 0px 2px 2px grey; */
    /* background: #2E435E; */
    /* background: linear-gradient(to top,#2E435E,#172E50); */
    color: #777;
    /* border: solid 3px transparent; */
    /* border-bottom-color: #aaa; */
    text-align: center;
}
