h1 {
    #text-align: center;
    margin-bottom: .2em;
}

#content {
    background: #fff;
    #padding-top: 3em;
    max-width: 700px;
    position: relative;
    margin: 5px auto;
    padding-left: 10px;
    padding-right: 10px;
}
#header {
    float: right;
    margin-left: 1em;
    margin-bottom: 1em
}
#preamble {
    max-width: 600px;
    #position: relative;
    margin: 85px auto;
}

p {
    padding: 0px 35px;
}

.header-bar {
    width: 100%;
}

.header-bar a {
    display: inline-block;
    width: 32.8%;
}

.header-bar a:nth-child(2) {
    text-align: center;
}

.header-bar a:nth-child(3) {
    text-align:right;
}

.clearfix {
    clear:both;
}

.post-date-and-title {
    position: relative;
    min-height: 2em;
}

.post-title {
    display: inline-block;
    float: left;
    margin: 0;
    text-decoration: none;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.post-date {
    #display: inline-block;
    #float: right;
    position: absolute;
    bottom: 0;
    right: 0;
}

.header{
    font-size: 24px;
    line-height: 40px;
    font-weight: 200;
    /* box-shadow: 0px 2px 2px grey; */
    /* background: #2E435E; */
    /* background: linear-gradient(to top,#2E435E,#172E50); */
    color: #777;
    /* border: solid 3px transparent; */
    /* border-bottom-color: #aaa; */
    text-align: center;
}
